/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgreen;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  /* Styles for the Header */
  h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
  
  /* Styles for the Sections */
  .section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .section h2 {
    color: black;
    margin-top: 0;
  }
  
  .section p {
    line-height: 1.5;
    color: black;
  }
  
  /* Styles for the Buttons */
  .btn {
    display: inline-block;
    background-color: navy;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: navy;
  }
  
  /* Styles for the Footer */
  footer {
    text-align: center;
    color: white;
    padding: 20px 0;
  }